:root {
	--font-sans: system-ui;
	--font-serif: ui-serif, serif;
	--font-mono: ui-monospace, monospace;

	--hover-size: 0.15rem;

	--text-3xl: 2em;
	--text-2xl: 1.5em;
	--text-xl: 1.25em;
	--text-lg: 1.125em;
	--text-md: 1em;
	--text-sm: 0.875em;
	--text-xs: 0.75em;
}

html,
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	background: var(--color-subtle-light);
	color: var(--color-ink);
	font-family: var(--font-sans);
	line-height: 1.4;
	scroll-behavior: auto;
	text-rendering: optimizeLegibility;
	text-size-adjust: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	height: 100vh;
}

.icon {
	display: inline-flex;
	fill: currentColor;
	height: 1em;
	width: 1em;
	vertical-align: -0.125em;
}

@supports(padding:max(0px)) {
    body, header, footer {
        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right));
    }
}
