:root {
	--btn-size: 2.75em;
}

.btn {
	display: inline-flex;
	align-items: center;
	cursor: pointer;

	color: var(--btn-color, --color-ink);
	font-weight: 500;
	border: var(--btn-border-size, 0px) solid var(--color-border);

	padding: var(--btn-padding, 0);
	text-decoration: none;
	background: var(--btn-background, --color-bg);

	transition:
		background-color 300ms ease,
		border 300ms ease,
		color 300ms ease,
		filter 300ms ease,
		opacity 300ms ease;

	&.btn--plain {
		--btn-padding: calc((var(--btn-size) - 1em) / 2);
	}

	&.btn--icon {
		--btn-padding: calc((var(--btn-size) - 1.5rem) / 2);

		border-radius: 50%;
		aspect-ratio: 1;
		display: grid;
		place-items: center;

		inline-size: var(--btn-size);
		block-size: var(--btn-size);

		&:hover {
			background: color-mix(in srgb, var(--btn-background, --color-bg), black 20%);
		}

		&.icon--sm {
			--btn-padding: calc((var(--btn-size) - 1.25rem) / 2);
		}
	}

	&.btn--reversed {
		--btn-color: var(--color-bg);
		--btn-background: var(--color-ink);
		--btn-border-size: 0px;
	}

	&:disabled,
	&[aria-disabled='true'] {
		opacity: 0.5;
		cursor: not-allowed;
		pointer-events: none;
	}
}
