:root {
	--btn-size: 2.75em;
}

.btn {
	display: inline-flex;
	align-items: center;
	cursor: pointer;

	color: var(--btn-color, --color-ink);
	font-weight: 500;
	border: var(--btn-border-size, 0px) solid var(--color-border);

	padding: var(--btn-padding, 0);
	text-decoration: none;
	background: var(--btn-background, --color-bg);

	transition:
		background-color 300ms ease,
		border 300ms ease,
		color 300ms ease,
		filter 300ms ease,
		opacity 300ms ease;

	&.btn--secondary {
		--btn-color: var(--color-ink-secondary);
	}

	&.btn--block {
		--btn-padding: 0.5em 1.1em;
		--btn-background: var(--color-subtle-3);

		border-radius: 0.5em;
	}

	&.btn--circle {
		--btn-border-size: 0px;
		--btn-background: var(--color-subtle-3);
		--btn-padding: 0.425em;

		border-radius: 50%;
		aspect-ratio: 1;
		display: grid;
		place-items: center;

		inline-size: var(--btn-size);
		block-size: var(--btn-size);

		&:hover {
			background: color-mix(in srgb, var(--btn-background, --color-bg), black 20%);
		}
	}

	&.btn--reversed {
		--btn-color: var(--color-bg);
		--btn-background: var(--color-ink);
		--btn-border-size: 0px;
	}

	&:disabled,
	&[aria-disabled='true'] {
		opacity: 0.5;
		cursor: not-allowed;
		pointer-events: none;
	}
}
