:root {
	--lch-black: 0% 0 0;
	--lch-black-90: 0% 0 0 / 0.9;

	--lch-white: 100% 0 0;
	--lch-white-90: 100% 0 0 / 0.9;

	/* Gray */
	--lch-gray-100: 97% 0 0;
	--lch-gray-200: 95% 0 0;
	--lch-gray-300: 91% 0 0;
	--lch-gray-400: 86% 0 0;
	--lch-gray-500: 77% 0 0;
	--lch-gray-600: 63% 0 0;

	--lch-always-black: 0% 0 0;
	--lch-always-white: 100% 0 0;

	/* Abstractions */
	--color-bg: oklch(var(--lch-white));

	--color-border: oklch(var(--lch-gray-300));

	--color-ink: oklch(var(--lch-black));
	--color-ink-muted: oklch(var(--lch-gray-500));
	--color-ink-secondary: oklch(var(--lch-gray-600));
	--color-ink-reversed: oklch(var(--lch-white));

	--color-subtle-1: oklch(var(--lch-gray-100));
	--color-subtle-2: oklch(var(--lch-gray-200));
	--color-subtle-3: oklch(var(--lch-gray-300));

	--color-always-black: oklch(var(--lch-always-black));
	--color-always-white: oklch(var(--lch-always-white));

	@media (prefers-color-scheme: dark) {
		--lch-black: 100% 0 0;
		--lch-black-90: 100% 0 0 / 0.9;

		--lch-white: 0% 0 0;
		--lch-white-90: 0% 0 0 / 0.9;

		/* Gray */
		--lch-gray-100: 17% 0 0;
		--lch-gray-200: 19% 0 0;
		--lch-gray-300: 23% 0 0;
		--lch-gray-400: 28% 0 0;
		--lch-gray-500: 37% 0 0;
		--lch-gray-600: 51% 0 0;
	}
}

.colorize--white {
	filter: invert(1);

	@media (prefers-color-scheme: dark) {
		filter: invert(0);
	}
}

.colorize--black {
	filter: invert(0);

	@media (prefers-color-scheme: dark) {
		filter: invert(1);
	}
}
