.input {
	height: var(--input-height, 2.25em);
	border-radius: var(--input-border-radius, 0.5em);
	border: var(--input-border-size, 0px) solid var(--color-border);
	color: var(--color-ink);
	font-size: max(16px, 1em);
	inline-size: 100%;
	line-height: var(--input-line-height, 1.2);
	max-inline-size: 100%;
	padding: var(--input-padding, 0.625em 0.626em);
	resize: none;
	background: var(--color-subtle-3);

	outline: var(--outline-size, 0) solid var(--outline-color, transparent);

	&:autofill,
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus {
		-webkit-text-fill-color: var(--color-ink);
		-webkit-box-shadow: 0 0 0px 1000px var(--color-selected) inset;
	}

	&:where(:not(:active)):focus {
		--input-border-color: var(--color-selected-dark);
		--hover-color: var(--color-selected-dark);
		--outline-size: 0;
		--outline-color: transparent;

		box-shadow: 0 0 0 var(--hover-size) var(--hover-color);
	}
}
